body {
  width: 250px;
  height: 250px;
}

#header {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

#header > h2 {
  width: fit-content;
  height: fit-content;
}

#settingsBtn,
#backBtn {
  width: 35px;
  height: 35px;
  padding-left: 100px;
}

#content,
#squashCommitsContent {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-content: space-between;
}

#content > input {
  width: fit-content;
  height: fit-content;
  padding-top: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

#settingsContent {
  display: none;
}

#commitID,
#convoCommitID {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

#squashCommits {
  padding-top: 10px;
  margin-right: 10px;
  float: left;
}

#squashTitle {
  width: fit-content;
  height: fit-content;
  float: right;
  margin: 0px;
}

#update,
#submit {
  margin: 10px;
  width: 50px;
  height: 50px;
  float: right;
}

#sign {
  float: right;
}
